.carousel__item {
  width: 100%;
  height: 100%;
  position: absolute;

  left: 0;
  border-radius: 2.5rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0px -50px 25px -15px rgba(0, 0, 0, 0.6);
}
.carousel__itemShade {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 2.5rem;
}
.carousel__itemTitle {
  font-size: 1.5rem;
}
.carousel__itemSubtitle {
  font-size: 1rem;
  font-style: italic;
}
.carousel__itemPeriod {
  font-size: 0.9rem;
}
.carousel__itemLink {
  margin: 1% 0% 10% 0%;
  display: inline;
  border-radius: 1rem;
  padding: 0.9rem;
  font-size: 0.8rem;
  text-decoration: none;
  background-color: #fff;
  color: #000;
}
.carousel__item--active--left {
  animation: slideInLeft 1.5s ease-in forwards;
}
.carousel__item--active--right {
  animation: slideInRight 1.5s ease-in forwards;
}
.carousel__item--hidden--left {
  animation: slideOutLeft 1s ease-in forwards;
}
.carousel__item--hidden--right {
  animation: slideOutRight 1s ease-in forwards;
}
@media (min-width: 768px) {
  .carousel__itemTitle {
    font-size: 3rem;
  }
  .carousel__itemSubtitle {
    font-size: 2rem;
    font-style: italic;
  }
  .carousel__itemPeriod {
    font-size: 1.5rem;
  }
  .carousel__itemLink {
    font-size: 1.5rem;
    margin: 1% 0% 5% 0%;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slideOutLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slideOutRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
